*,
*::before,
*::after {
  box-sizing: border-box;
  /* Add smoothness to all elements */
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

html {
  font-size: calc(0.5rem + 0.5vw);
}

html,
body,
#root {
  height: 100vh;
  width: 100%;
  min-height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  scroll-behavior: smooth;
  font-size: calc(0.9rem + 0.1vw);
  /* Vertical align all elements by default */
  vertical-align: middle;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 0, 0, 0.20);
}

body {
  background: url(../img/world_map.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-color: rgba(0, 0, 0, 0.22); */
}

*::-webkit-scrollbar {
  width: 0.1em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.5);
  -webkit-box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.5);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  outline: 10px solid rgba(128, 128, 128, 0.5);
}

aside {
  height: 100vh;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.5);
}

.country-row {
  font-size: 2rem;
}

.country-row:hover {
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.25);
  scale: (1.3);
  text-align: center;
}

.h1-header {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.flag-div {
  background-color: rgba(0, 0, 0, 0.125);
}